@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-image: linear-gradient(to right,gray,whitesmoke);
}

main{
    background-color: white; /* Cor de fundo da tag */
    width: 600px; /* Tamanho que essa tag vai ocupar */
    box-shadow: 30px,130px; /* 1º parametro = Quanto vai ir para o lado, 2º parametro = Quanto a sombra vai ir para baixo, 3º parametro = Quanto a sombra vai espalhar, e o 4º é cor */
    padding: 5px; /* Vai separar o texto de ficar grudado nos lados do quadrado*/
    margin: auto; /* Texto auto adaptável */
    border-radius: 3%; /* Arredondamento da borda */
    
}

p{
    text-align: justify;
}

h1{
    text-shadow: 30px,30px,130px,rgb(173, 49, 4);
    text-align: center;
    color: #D99379;
}

h2{
    color: black;
}
